header {
  padding: 1rem 0;
  border-bottom: 1px solid $gray-color;
  .svg-logo {
    height: 80px;
    margin-bottom: 0.5rem;
    polygon {
      fill: $sub-color;
    }
  }
  .navbar-nav {
    .nav-item {
      @extend %h5;
      @extend %fontFamEn;
      font-weight: 700;
      margin-right: 2rem;
      text-transform: uppercase;
    }
  }
}
