header {
  padding: 1rem 0;
  border-bottom: 1px solid $gray-color;
  .svg-logo {
    height: 80px;
    margin-bottom: 0.5rem;
    polygon {
      fill: $sub-color;
    }
  }
  .navbar-nav {
    .nav-item {
      @extend %h5;
      @extend %fontFamEn;
      font-weight: 700;
      margin-right: 2rem;
      text-transform: uppercase;
    }
  }
  .desktop-menu-container {
    width: 100%;
    // 手機以下
    @include phone-w {
      display: none;
    }
  }
  .mobile-menu-container {
    // 手機以上
    @include phone-w-outer {
      display: none;
    }
    width: 100%;
    margin: 1rem auto;
    #mobile-menu-dropdown-btn {
      @extend %whiteBg;
      @extend %darkColor;
      @extend %fontFamEn;
      text-align: left;
      width: 100%;
      &:after {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
    .dropdown-menu {
      @extend %fontFamEn;
      border: none;
      width: 100%;
    }
  }
}
