#app {
  .home-layout {
    position: relative;
    background-image: url("../img/topo_bg_green.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    main {
      padding-bottom: 5rem;
    }

    .hero-content {
      position: relative;
      height: 65vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5rem;
      h1 {
        @extend %fontFamEn;
        @extend %whiteColor;
      }
    }
    .card {
      // border: 0.5rem solid $main-color;
      margin: 0 0.5rem;
      .index-svg-icon {
        svg {
          width: 60px;
        }
      }
      &.add-data-card {
        .add-group-btn {
          @extend %darkBg;
          @extend %whiteColor;
          width: 100%;
          &:hover {
            @extend %subBg;
          }
        }
      }
      &.example-card {
        .btn {
          @extend %whiteColor;
          border-radius: 4px;
          width: calc(50% - 2px);
        }
        .download-btn {
          @extend %subBg;
          &:hover {
            @extend %darkBg;
          }
        }
        .view-btn {
          @extend %grayBg;
          pointer-events: none;
          left: 4px;
          &.can-view {
            @extend %spBg;
            @extend %darkColor;
            cursor: pointer;
            pointer-events: auto;
            &:hover {
              @extend %darkBg;
              @extend %whiteColor;
            }
          }
        }
      }
    }
  }
}
