.ap-list-table.table {
  margin-bottom: 0;
  thead {
    @extend %darkBg;
    @extend %whiteColor;
    border: none;
    th {
      @extend %h7;
      font-weight: 300;
      border: none;
      height: 1.5rem;
      white-space: nowrap;
    }
  }
  tbody {
    border: none;
    tr {
      td {
        @extend %h7;
        vertical-align: middle;
        height: 1.5rem;
        border-color: $gray-color;
        word-break: break-all;
        .svg-icon-outer {
          cursor: pointer;
          height: 1.5rem;
          .svg-icon {
            fill: $sub-color;
          }
          &:hover {
            .svg-icon {
              fill: $sp-color;
            }
          }
        }
        .del-group-btn {
          padding: 0;
        }
        &[data-label="新增時間:"] {
          white-space: nowrap;
        }
      }
    }
  }
}
.load-more-outer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  table.rwd-table,
  .rwd-table thead,
  .rwd-table tbody,
  .rwd-table th,
  .rwd-table tr {
    display: block;
  }
  .rwd-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .rwd-table tr {
    border-bottom: 1px solid $dark-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .rwd-table.rwd-table.rwd-table td {
    border: none;
    position: relative;
    padding-left: 6rem;
    padding-top: 0.4rem;
    height: 2rem;
    display: inline-block;
    width: calc(100% - 85px);
  }
  .rwd-table td:nth-of-type(n + 1):before {
    content: attr(data-label);
    color: $dark-color;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 85px;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

@media only screen and (max-width: 767px) {
  .rwd-table.rwd-table.rwd-table.rwd-table td {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
