.ap-list-table.table {
  margin-bottom: 0;
  thead {
    @extend %darkBg;
    @extend %whiteColor;
    border: none;
    th {
      @extend %h7;
      font-weight: 300;
      border: none;
      height: 1.5rem;
    }
  }
  tbody {
    border: none;
    tr {
      td {
        @extend %h7;
        vertical-align: middle;
        height: 1.5rem;
        border-color: $gray-color;
        .svg-icon-outer {
          cursor: pointer;
          height: 1.5rem;
          .svg-icon {
            fill: $sub-color;
          }
          &:hover {
            .svg-icon {
              fill: $sp-color;
            }
          }
        }
        .del-group-btn {
          padding: 0;
        }
      }
    }
  }
}
.load-more-outer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}
// 群組列表
// .group-page-list {
//   .group-id-th {
//     width: 40%;
//   }
//   .group-name-th {
//     width: auto;
//   }
//   .group-view-th {
//     width: 10%;
//     text-align: right;
//   }
//   .group-edit-th {
//     width: 10%;
//     text-align: right;
//   }
//   .group-del-th {
//     width: 10%;
//     text-align: right;
//   }
//   .group-name-td {
//     @extend .group-name-th;
//   }
//   .group-view-td {
//     @extend .group-view-th;
//   }
//   .group-edit-td {
//     @extend .group-edit-th;
//   }
//   .group-del-td {
//     @extend .group-del-th;
//   }
// }
