.topology-container {
  position: relative;
  .floor-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    .floor {
      height: 180px;
      border-bottom: 1px solid $gray-color;
      .floor-title {
        width: 10%;
        font-weight: 700;
      }
      .floor-content {
        width: 90%;
        .server-item-bg {
          @extend %darkBg;
          border-radius: 50%;
          height: 90px;
          width: 90px;
          line-height: 90px;
          .server-icon {
            height: 55px;
            path {
              fill: $white-color;
            }
          }
        }
      }
    }
  }
  #svgboard {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}
